<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TimerInterval" value="5000"/>
    
      <add key="SAPWSURL" value="http://sapvmsed.sctlogistics.com.au:8010/sap/bc/zcreorder?sap-client=120"/>
      <add key="SAPUserName" value="TEST_SL.PRTL"/>
    
  </appSettings>
  <connectionStrings>
    <add name="SCT" connectionString="data source=CPSQL01;initial catalog=SAPReporting_Zimmer;user id=bo;password=able2admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SRT_SCT" connectionString="data source=CPSQL01;initial catalog=SAPReporting_Zimmer;persist security info=True;user id=bo;password=able2admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>