<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OrderImportClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>    
    <add key="SAPUserName" value="TEST_SL.PRTL" />
    <add key="SAPUserPassword" value="logis123" />
    <add key="TimerInterval" value="5000"/>
    <add key="ErrorRecipients" value="marcus.scholz@computerprofessionals.com.au;chris@computerProfessionals.com.au;"/>
    <add key="ErrorSubject" value="Failed to process online sales order."/>  
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="SCTModel" connectionString="data source=CPSQL01;initial catalog=SAPReporting_Zimmer;persist security info=True;user id=bo;password=able2admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <OrderImportClasses.Properties.Settings>
      <setting name="OrderImportClasses_SCTWS_zsd_create_web_so" serializeAs="String">
        <value>http://SAPVMSED.sctlogistics.com.au:8010/sap/bc/srt/rfc/sap/zsd_create_web_so/120/zsd_create_web_so/zsd_create_web_so</value>
      </setting>
    </OrderImportClasses.Properties.Settings>
  </applicationSettings>
</configuration>
